<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Результат</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <h1>Конец</h1>
        <div id="result">Результат:</div>
        <a href="/" class="button">Пройти заново</a>
        <script src="js/result.js"></script>
    </body>
</html>
